SECRET_KEY=lizpdph7g61h!vprq(oq1z311yky4#c(6^b(9z=x36171{{cookiecutter.project_slug}}ifto
ENV=TO
ALLOWED_HOSTS={{cookiecutter.project_slug}}-if-to.services-test.domain-name.com
TAG_VERSION=0.1.0
{{cookiecutter.project_slug.upper()}}_DB_HOST=mysqloto01.domain-name.com
{{cookiecutter.project_slug.upper()}}_DB_PORT=3307
{{cookiecutter.project_slug.upper()}}_DB_USER=++++++
{{cookiecutter.project_slug.upper()}}_DB_PASSWORD=+++
PROXY_SUBDOMAIN={{cookiecutter.project_slug}}-if-to
PROXY_DOMAIN=services-test.domain-name.com
PROXY_NETWORK=reverse-proxy_service-discovery